# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz
build

# SSL
server.cert
server.key

# Origin
public/uploads/images/users/*.*
!public/uploads/images/users/index.html
public/uploads/images/menu-categories/*.*
!public/uploads/images/menu-categories/index.html
public/uploads/images/misc/*.*
!public/uploads/images/misc/index.html
public/uploads/images/content/*.*
!public/uploads/images/content/index.html
public/uploads/misc/*.*
!public/uploads/misc/index.html
public/frontend/*

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Technologies
helps.txt
.vscode

# SSH
id_ed25519.pub