{{> header }}
<h1>{{{greetingByGender name sexe}}}</h1>
<p>Vous trouvez ci-joint le rapport Excel hebdomadaire des nouveaux contacts sur la plateforme Origin Expert.</p>
<p>Cette semaine, vous avez {{count}} nouveau(x) contact(s).</p>
<p>Si vous rencontrez des problèmes, veillez contactez l’administration technique de la plateforme.</p>
<p><em>{{{translate 'EMAIL_SIGNATURE'}}}</em></p>

{{> footer }}